name: Publish

on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./src

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal -m:1
    - name: Pack
      run: dotnet pack -c Release --no-build
    - name: Publish Kot.MongoDB.Migrations
      working-directory: ./src/Kot.MongoDB.Migrations/bin/Release/
      run: dotnet nuget push "*.nupkg" -k ${{secrets.NUGET_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
    - name: Publish Kot.MongoDB.Migrations.DI
      working-directory: ./src/Kot.MongoDB.Migrations.DI/bin/Release/
      run: dotnet nuget push "*.nupkg" -k ${{secrets.NUGET_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
